<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Sportline</title>

        <!-- Stylesheets -->
       <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">

        <!-- External Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>



        <!-- Client-side Script -->
        <script src="scripts/script.js"></script>
  </head>
  <body>
    <div class="jumbotron">
        <div class='container' id="jumbo">
          <h1>Niner Nation</h1>
          <p>Share and engage with fans and friends</p>
          <p><a class="btn btn-primary btn-lg" id="newPostButton">Write a post!</a></p>
          <div id="newPostFormDiv" class="col-md-3 ">
          <h4>  New Post</h4>
            <form id="newPostForm">

              <input type="text" name="titlepost" placeholder="Title of Post"></br></br>
              <input type="text" name="bodypost" placeholder="Your post goes here" id="postBodyInputField">

              <input id="newPostSubmitButton" type="submit" class="btn btn-primary">
              <button type="button" class="btn btn-default btn-xs" id="newPostCancelButton">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
            </form>
          </div>
        </div>

    </div>
    <section class="container">
    <div class="col-md-12" id="postsTextRow">
      <h1>Posts</h1>
    </div>
      <div class="col-md-12" id="postsDiv">
          <script id="postTemplate" type="text/x-handlebars-template">

              <div class="row post col-md-10" data-post-id={{_id}}>
                <button type="button" class="btn btn-xs" id="postEditButton">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                    <button type="button" class="btn btn-danger btn-xs" id="postDeleteButton">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                  <h4>{{title}}</h4>
                  <p>{{body}} </br>
                  <p id="commentSection"> Comments </p>
                  <span id="commentsList">
                   {{#each comments}} {{body}}  <hr/> {{/each}}
                  </span>
                 <form id="newCommentForm">
                  <!-- <div class="col-md-4"> -->
                 <input type="text" name="bodypost" class="form-control input-sm" placeholder="Comment here" id="commentLine">

                 <input type="submit" class="btn btn-info btn-xs" id="commentSubmitButton">
                <!-- </div> -->
                 </form>

                  </p>

              <hr id="postLine" />
              </div>

          </script>
      </div>
    </section>
  </body>
</html>
