<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Sportline</title>
       <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
        <link ref="stylesheet" href="styles/style.css">
        <script type ="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
        </script>
        <script href="/script.js">
        </script>
  </head>
  <body>
    <div class="jumbotron">
        <div class='container' id="jumbo">
          <h1>Niner Nation</h1>
          <p>Share and engage with fans and friends</p>
          <p><a class="btn btn-primary btn-lg">Write a post!</a></p>

        </div>
    </div>
    <section class="container">
      <h2>Posts</h2>
      <p>hello world</p>
      <script id="posttemplate" type="text/x-handlebars-template">

          <div class="col-md-10">
              <h3>{{title}}</h3>
              <p>{{body}}</p>

          </div>
      </script>
    </section>
  </body>
</html>
